* {
  --main-color: #df6924;
  --main-bg-color: #2b3e50;
  --sec-color: #4e5d6c;
  --sec-color-light: #808b96;
  color: white;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity-50 {
  opacity: 0.5;
}

.border-bot-primary {
  border-bottom: var(--main-color) 6px solid;
}

.title-y {
  width: 20rem;
}
