* {
  --main-color: #df6924;
  --main-bg-color: #2b3e50;
  --sec-color: #4e5d6c;
  --sec-color-light: #808b96;
  color: white;
}

.slide {
  flex: 1;
}

.title-y {
  width: 20rem;
}

.wildCard {
  background: center / cover no-repeat;
}

.wildCard:hover {
  transition: ease-in 0.15s;
  transform: translateY(-5px);
  text-decoration: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

#serverSelect {
  width: 50vw;
  height: 100px;
}
