.align-items-center {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.title {
  padding-bottom: 100px;
}

.title h2 {
  font-size: 48px;
}

.title h2 span {
  text-transform: uppercase;
}

.main {
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 80%;
}

.filter {
  width: 100%;
  align-self: center;
}

.guildsTable {
  width: 100%;
  padding: 0 100px;
}

/* .pagination > .paginationItem { */
/* padding: 2px; */
/* } */
