.align-items-center {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 0 50px;
}

.title h2 {
  font-size: 48px;
}

.title h2 span {
  text-transform: uppercase;
}

.main {
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 80%;
}

.filter {
  width: 100%;
  align-self: center;
}

.guildsTable {
  width: 100%;
}
