div.test {
  background: local url(../../img/horde.png);
  background-position: right 50vw top 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

div.horde {
  background: local url(../../img/alliance.png);
  background-position: -60% 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
