.App {
  text-align: center;
}

.slide {
  display: contents;
}
/* 
.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  margin-bottom: 20vh;
} */
