.App {
  text-align: center;
  background: url('./img/world-of-warcraft-shadowlands-world-of-warcraft-tiomnye-zeml.jpg');
  min-height: 100vh;
  height: 100%;
  background-attachment: fixed;
  background-size: contain;
}

.slide {
  display: contents;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .leaderboard-container {
    flex-wrap: wrap;
  }
}
