.App {
  text-align: center;
  min-height: 100vh;
}

.border-vert {
  border-left: var(--main-color) 6px solid;
  padding-left: 15px;
}

.flex-1 {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .leaderboard-container {
    flex-wrap: wrap;
  }
}
